/* login.css */
* {
  padding: 0;
  margin: 0;
}

html,
html,
body {
  margin: 0;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#loginBox {
  width: 300px;
  text-align: center;
}

.input-form-box {
  display: flex;
  margin-bottom: 5px;
}

.input-form-box > span {
  display: block;
  text-align: left;
  padding-top: 5px;
  min-width: 65px;
}

.button-login-box {
  margin: 10px 0;
}

#inputBox {
  margin: 10px;
}

#inputBox button {
  padding: 3px 5px;
}

#pageTitle {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  background: linear-gradient(to right, #270a09, #8ca6ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}